<div id="wrapper">

    <!-- Sidebar -->
    <app-navbar></app-navbar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-topbar></app-topbar>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="d-sm-flex flex-column  mb-4">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a (click)="goToClientPage()">List des clients</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ajouter client</li>
                        </ol>
                    </nav>
                    <h1 class="h3 mb-0 text-gray-800">Ajouter client</h1>

                </div>

                <div class="card shadow mb-4">

                    <form #myForm="ngForm" ngSubmit (ngSubmit)="addClient(myForm)" class="client-form row g-3">
                        <div class="col-md-4">
                            <label for="validationDefault01" class="form-label">Username</label>
                            <input type="text" class="form-control" [(ngModel)]="employeRequest.username"
                                id="validationDefault01" name="username" value="Mark" required>
                        </div>
                        <div class="col-md-4">
                            <label for="validationDefault01" class="form-label">First name</label>
                            <input type="text" class="form-control" [(ngModel)]="employeRequest.firstName"
                                id="validationDefault01" name="firstname" value="Mark" required>
                        </div>
                        <div class="col-md-4">
                            <label for="validationDefault02" class="form-label">Last name</label>
                            <input type="text" class="form-control" [(ngModel)]="employeRequest.lastName"
                                id="validationDefault02" name="lastname" value="Otto" required>
                        </div>

                        <div class="col-md-5">
                            <label for="validationDefaultUsername" class="form-label">Email</label>
                            <div class="input-group">
                                <span class="input-group-text" id="inputGroupPrepend2">@</span>
                                <input type="email" name="email" [(ngModel)]="employeRequest.email" class="form-control"
                                    id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="validationDefault04" class="form-label">fonction</label>
                            <select name="fonction" [(ngModel)]="employeRequest.fonction" class="form-select"
                                id="validationDefault04" required>
                                <option selected disabled value="">Choose...</option>
                                <option>Pdg</option>
                                <option>Chef</option>
                                <option>Employe</option>

                            </select>
                        </div>
                        <div class="col-md-5">
                            <label for="validationDefault03" class="form-label">Password</label>
                            <input type="password" name="password" [(ngModel)]="employeRequest.password"
                                class="form-control" id="validationDefault03" required>
                        </div>
                        <div class="col-md-5">
                            <label for="validation05" class="form-label">Confirm password</label>
                            <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword"
                                class="form-control" id="validation05" required>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>



            </div>
        </div>
    </div>
</div>