<div id="wrapper">

    <!-- Sidebar -->
    <app-navbar></app-navbar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-topbar></app-topbar>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Maintenances</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <a (click)="goToAddMaintenance()"
                            class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="bi bi-plus"></i>
                            Ajouter maintenance</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table *ngIf="(maintenanceData$ | async) as maintenances" id="example" datatable
                                class="table table-striped text-nowrap" style="width:100%">
                                <thead class="table-dark">
                                    <tr>

                                        <th>id</th>
                                        <th>voiture Id</th>
                                        <th>type</th>
                                        <th>duree</th>
                                        <th>dateMaintenance</th>
                                        <th>frais</th>

                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let maintenance of maintenances">
                                        <td>{{maintenance.id}}</td>
                                        <td>{{maintenance.voiture.id}}</td>
                                        <td>{{maintenance.type}}</td>
                                        <td>{{maintenance.duree}}</td>
                                        <td>{{maintenance.dateMaintenance}}</td>
                                        <td>{{maintenance.frais}}</td>
                                        <td>
                                            <button type="button" class="btn btn-link btn-sm " data-mdb-ripple-init
                                                data-ripple-color="primary">
                                                <i class="bi bi-x h5" (click)="deleteMaintenance(maintenance.id)"></i>
                                            </button>
                                            <button type="button" class="btn btn-link btn-sm px-3" data-mdb-ripple-init
                                                data-ripple-color="primary">
                                                <i (click)="goToUpdateMaintenance(maintenance.id)"
                                                    class="bi bi-pencil h5"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>