<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="bi bi-car-front"></i>
        </div>
        <div class="sidebar-brand-text mx-3">ParcAuto </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" (click)="goToHomePage()">
            <i class="fas fa-fw fa-tachometer-alt "></i>
            <span>Home</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item ">
        <a class="nav-link" (click)="goToProfilePage()">
            <i class="bi bi-person"></i>
            <span>Profile</span></a>
    </li>



    <li class="nav-item">
        <a class="nav-link" (click)="goToAddMissionPage()">
            <i class="bi bi-journal-plus"></i>
            <span>Add Mission</span></a>
    </li>



    <li class="nav-item">
        <a class="nav-link" (click)="goToAddReportPage()">
            <i class="bi bi-exclamation-diamond"></i>
            <span>Add Report</span></a>
    </li>



</ul>
<!-- End of Sidebar -->