<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="bi bi-car-front"></i>
        </div>
        <div class="sidebar-brand-text mx-3">ParcAuto </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" (click)="goToDashboardPage()">
            <i class="fas fa-fw fa-tachometer-alt "></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" (click)="goToVoiturePage()">
            <i class="bi bi-car-front-fill"></i>
            <span>Voitures</span></a>
    </li>


    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" (click)="goToClientPage()">
            <i class="bi bi-person-lines-fill"></i>
            <span>Clients</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="goToMissionPage()">
            <i class="bi bi-newspaper"></i>
            <span>Missions</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>


    <li class="nav-item">
        <a class="nav-link" (click)="goToReportPage()">
            <i class="bi bi-exclamation-diamond"></i>
            <span>Reports</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="goToMaintenancePage()">
            <i class="bi bi-gear-fill"></i>
            <span>Maintenances</span></a>
    </li>

    <!-- Nav Item - Tables
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div> -->



</ul>
<!-- End of Sidebar -->